body {
  background-color:rgb(0, 135, 162);
  color: white;
}
input{
  margin-top: 2rem;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 20px;
}
.position {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  height: 100vh;
  justify-content: center;
}

.image {
  width: 27rem;
}
.imageBorder {
  border: red solid 2px;
}
/*exercise 2*/

.imageSticker {
  height: 14rem;
  width: 25rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
  color: white;
}
.childContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnPosition {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  height: 2.5rem;
}
.header {
  text-align: center;
  font-size: 35px;
}

/*exercise 3*/
.child2 {
  display: flex;
  justify-content: center;
}
.container-2 {
  display: flex;
  justify-content: center;
}
.pPosition{
  text-align: center;
  font-size: 2rem;
}
.btn3{
  text-align: center;
  margin-top: 3rem;
}